DISCORD_TOKEN={Your bot's secret token}
DISCORD_GUILD={Your discord Guild ID}
TARGETS={The IDs of the channels you want to scrape, separated by spaces. Scrape at least your #general channel, but ideally all text channels in your server.}
TEMPERATURE={The temperature parameter to give GPT-3 when generating. 0.7 is a good default.}
GPT3_TOKEN={Your API token for OpenAI's GPT-3.}
MODEL_NAME={The name of your model. Used to interact with it through the OpenAI API. You can find this in playground.py.}
BEST_OF={When generating a quote via GPT-3, generate this number of samples and only output the best one. 1 is default, but turning it up can improve quality at additional cost (multiplies cost by this number).}
FREQ_PENALTY={The amount to penalize repeated responses. 1.05 is a good default.}
PRES_PENALTY={The amount to penalize responses already present. 0.75 is a good default.}
NUM_QUOTES={The number of quotes to generate for the au commands. 8 is a good default.}
EXAMPLE_SIZE={The max number of quotes to include in each example given to the model. Turning this up improves the bot's memory of context, but will likely require more input data. 5 is a good default.}
PERCENT_READ={The percentage of scraped data to read when generating training data, as a decimal. 1 means to use all data, 0.50 means to use half of your data, etc. Start at 1 and decrease it if you end up with too much data.}
END_PROMPT={The string to pass the model at the end of a prompt. {\n\n###\n\n} is a good default}
MAX_TOKENS={Max tokens param for GPT-3. {64} is a good default.}

TOP_K={Deprecated. The top_k value to pass GPT-2 when generating. 0 is a good default.}
BATCH_SIZE={Deprecated. The batch size passed to GPT-2. Higher numbers run faster but consume more memory. Must divide both REGENERATE parameters evenly.}
GPT_2_MODEL={Deprecated. The model of GPT-2 to use. Options are {124M}, {335M}, {774M}, or {1558M}.}
REGENERATE_QUOTE_COUNT={Deprecated. How many quotes the regenereate command generates. More means it will take longer, but will need to be run less often. 25 is a good default.}
REGENERATE_PER_PERSON={Deprecated. Same as above, but for each individual user. 5 is a good default for a small server.}
USER_CACHE_SIZE={Deprecated. The maximum size of the user cache files, for GPT-2 functionality, in KB. The script may go slightly above this number.}